<h1>Manage Emails</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Email</th>
			<th>Active</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		#foreach($email in $emails)
		<tr>
			<td>${email.login}@${email.domain}</td>
			<td>${email.active}</td>			
			<td>
				<a href="/email/edit/${email.id}" class="btn btn-warning"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a> 
				<a href="/email/delete/${email.id}" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove</a>
			</td>
		</tr>
		#end
	</tbody>
</table>