<h1>Create new email</h1>

<form class="form-inline" method="post">
#springBind("mail_account")
  <div class="form-group">
    <label class="sr-only" for="emailUser">User</label>
	#springBind("mail_account.login")    
    <input type="text" class="form-control" id="emailDomain" name="${status.expression}" value="$!status.value" placeholder="user">
  </div>
  @
  <div class="form-group">
    <label class="sr-only" for="emailDomain">Domain</label>
	#springBind("mail_account.domain")    
    <input type="text" class="form-control" id="emailDomain" name="${status.expression}" value="$!status.value" placeholder="example.com">
  </div>
  <div class="checkbox">
    <label>
	#springBind("mail_account.active")
      <input type="checkbox" name="${status.expression}" value="true" #if("$!{status.value}"=="true") checked="checked"#end> Active
    </label>
  </div>
  <button type="submit" class="btn btn-default">Create</button>
</form>