<h1>Manage Emails</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Email</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		#foreach($email in $emails)
		<tr>
			<td>
			#if ($email.active)
			<span class="label label-success">Active</span>
			#else
			<span class="label label-default">Disabled</span>
			#end			
			${email.login}@${email.domain}
			</td>
			<td>
				<a href="/email/inbox/${email.id}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Inbox</a> 
				<a href="/email/edit/${email.id}" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
			</td>
		</tr>
		#end
	</tbody>
</table>