<h1>Create new email</h1>

#springBind("mail_account")
<form class="form-inline" method="post">

#if($status.errors.hasErrors())
<div class="alert alert-danger" role="alert">
    ## Global error messages
    #foreach($e in $status.errorMessages)
        <p>${e}</p>
    #end
    ## Field error messages
    #foreach($f in $status.errors.fieldErrors)
        #springBind("mail_account.${f.field}")
        #foreach($e in $status.errorMessages)
            <p>${e}</p>
        #end
    #end
</div>    
#end

  <div class="form-group">
    <label class="sr-only" for="emailUser">User</label>
	#springBind("mail_account.login")    
    <input type="text" class="form-control" id="emailDomain" name="${status.expression}" value="$!status.value" placeholder="user">
  </div>
  @
  <div class="form-group">
    <label class="sr-only" for="emailDomain">Domain</label>
	#springBind("mail_account.domain")    
    <input type="text" class="form-control" id="emailDomain" name="${status.expression}" value="$!status.value" placeholder="example.com">
  </div>
  <div class="checkbox">
    <label>
	#springBind("mail_account.active")
      <input type="checkbox" name="${status.expression}" value="true" #if("$!{status.value}"=="true") checked="checked"#end> Active
    </label>
  </div>
  <button type="submit" class="btn btn-default">Create</button>
  <a class="btn btn-default" href="/email">Cancel</a>  
</form>