<h1>Update Status</h1>
#springBind("dto")
<form method="post">

#if($status.errors.hasErrors())
<div class="alert alert-danger" role="alert">
    ## Global error messages
    #foreach($e in $status.errorMessages)
        <p>${e}</p>
    #end
    ## Field error messages
    #foreach($f in $status.errors.fieldErrors)
        #springBind("dto.${f.field}")
        #foreach($e in $status.errorMessages)
            <p>${e}</p>
        #end
    #end
</div>    
#end

		<p>
		Groups:
		#foreach($group in $groups)
			<label><input type="checkbox" name="groups" #if($dto.groups.contains($group.id))checked#end value="$group.id"> $group.title</label>
		#end
		</p>
		<p>Screen names (space separated):</p>
		<textarea class="form-control" rows="3" name="screenNames">$!{dto.screenNames}</textarea>
	
		<p>Message (max 140):</p>
		<textarea class="form-control" rows="2" name="message" maxlength="140">$!{dto.message}</textarea>


  <button type="submit" class="btn btn-default">Create</button>
  <a class="btn btn-default" href="/statuses">Cancel</a>
</form>
