<h1>Edit Twitter Group</h1>

#springBind("group")
<form method="post">

#if($status.errors.hasErrors())
<div class="alert alert-danger" role="alert">
    ## Global error messages
    #foreach($e in $status.errorMessages)
        <p>${e}</p>
    #end
    ## Field error messages
    #foreach($f in $status.errors.fieldErrors)
        #springBind("group.${f.field}")
        #foreach($e in $status.errorMessages)
            <p>${e}</p>
        #end
    #end
</div>    
#end

  <div class="form-group">
    <label for="groupId">ID</label>
    <input type="text" class="form-control" id="groupId" value="$group.id" disabled>
    <input type="hidden" name="id" value="$group.id">    
  </div>

  <div class="form-group">
    <label for="groupTitle">Title</label>
	#springBind("group.title")    
    <input type="text" class="form-control" id="groupTitle" name="${status.expression}" value="$!status.value">
  </div>
  <button type="submit" class="btn btn-default">Update</button>
</form>