<h1>Last 20 tweets for ${twitter.screenName}</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Date</th>
			<th>Text</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		#foreach($tweet in $tweets)
		<tr>
			<td>${tweet.id}</td>
			<td>$date.format('yyyy-MM-dd HH:mm:ss', $tweet.createdAt)</td>
			<td>$escape.html($tweet.text)</td>
			<td>
				<a href="/twitter/${twitter.id}/statistics" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Retweet</a>
			</td>
		</tr>
		#end
	</tbody>
</table>