<?xml version="1.0" encoding="utf-8" ?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         version="2.5" metadata-complete="true">

    <display-name>Social Agent</display-name>
    <description>Social Agent from Euromoby.</description>

	<context-param>
	    <param-name>contextConfigLocation</param-name>
	    <param-value>/WEB-INF/spring-context.xml</param-value>
	</context-param>
	<listener>
	    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener> 

	<servlet>
	    <servlet-name>servlet</servlet-name>
	    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	    <init-param>
	        <param-name>contextConfigLocation</param-name>
	        <param-value>/WEB-INF/servlet-context.xml</param-value>
	    </init-param>
	    <load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
	    <servlet-name>default</servlet-name>
	    <url-pattern>/favicon.ico</url-pattern>
	    <url-pattern>/css/*</url-pattern>
	    <url-pattern>/fonts/*</url-pattern>
	    <url-pattern>/js/*</url-pattern>
	</servlet-mapping>   
	
	<servlet-mapping>
	    <servlet-name>servlet</servlet-name>
	    <url-pattern>/*</url-pattern>
	</servlet-mapping>

    
</web-app>        